body {
    font-family: "Times New Roman", Times, serif;
    font-size: var(--font-size);
    color: var(--text);
}

.list {
    list-style-type: none;
    padding: 0;
    margin:0;
}

sup, sub {
    line-height: 0;
    font-size: var(--font-size-ss-ss);
    font-family: var(--font-ss);
    font-variant-numeric: tabular-nums;
    font-weight: 300;
}

sub em,
sup em {
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
}

p+p {
    text-indent: 3rem;
    /* Adjust the indent size as needed */
}

p {
    margin: 0 0 0 0;
    font-size: var(--font-size);
    line-height: 1.5;
}

.lede {
    margin: 0 0 1rem 0;
    font-size: var(--font-size-lede);
}

.lede+p {
    text-indent: 0;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    margin:0;
}

h1 {
    margin: 1rem 0 0 0;
    font-size:2rem;
    line-height: 1.5;
}

h2 {
    border-bottom: #ddd 1px solid;
    margin: 1rem 0 0.25rem 0;
}

h3 {
    margin:1rem 0 1rem 0;
}

h4 {
    margin:1rem 0 0 0;
}

h5 {
    margin: 1rem 0 0 0;
    font-weight: 700;
}

h6 {
    margin: 1rem 0 0 0;
    font-style: italic;
    font-weight: 400;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before
 {
    position: absolute;
    margin: 0 0 0 -2rem;
    font-family: menlo;
    font-size: 1rem;
    font-weight: 400;
    color: hsla(0, 100%, 50%, 1);
}

h1::before {
    content: "h1";
    font-style: normal;
}
h2::before {
    content: "h2";
    font-style: normal;
}
h3::before {
    content: "h3";
    font-style: normal;
}
h4::before {
    content: "h4";
    font-style: normal;
}
h5::before {
    content: "h5";
    font-style: normal;
}
h6::before {
    content: "h6";
    font-style: normal;
}

/* Lists */

ul {
    padding: 0 0 0 3rem;
}

blockquote {
    margin-left: 0;
    padding: 0 0 0 3rem;
}

ol {
    list-style-type: none;
    counter-reset: item;
    padding: 0 0 0 1rem;
}

ol>li {
    display: table;
    counter-increment: item;
/*    margin-bottom: 0.6em;*/
}

ol>li::before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.5rem;
    font-variant-numeric: tabular-nums;
}

li ol>li {
    margin: 0;
}

li ol>li::before {
    content: counters(item, ".") " ";
    font-variant-numeric: tabular-nums;
}

code, samp {
    font-size: var(--font-size-monospace);
    color: var(--gray-100);
    background-color: var(--gray-900);
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

var {
    font-size: var(--font-size-italic);
    color: var(--red);
}

u, a, dfn {
    text-underline-offset: 0.1875rem;
}

dfn {
    font-style: normal;
    text-decoration: underline;
    text-decoration-line: underline;
    text-decoration-style: dashed;
}

em, i, cite {
    font-size: var(--font-size-italic);
}

mark {
    padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}

/* Text */

/* Helper classes */

.cmr-10 {
    font-size: 83%;
}

.cmmi-10 {
    font-size: 83%;
    font-style: italic;
}

.cmsy-10 {
    font-size: 83%;
}

.cmr-17x-x-143 {
    font-size: 202%;
}

.cmr-12x-x-120 {
    font-size: 120%;
}

.cmti-12 {
    font-style: italic;
}

.cmmi-12 {
    font-style: italic;
}

.cmbx-12 {
    font-weight: bold;
}

.cmr-10x-x-109 {
    font-size: 90%;
}

.cmti-10 {
    font-size: 83%;
    font-style: italic;
}

.cmsl-10 {
    font-size: 83%;
    font-style: oblique;
}

p.noindent {
    text-indent: 0em
}

td p.noindent {
    text-indent: 0em;
    margin-top: 0em;
}

p.nopar {
    text-indent: 0em;
}

p.indent {
    text-indent: 1.5em
}

.emdash {
    display: inline-block;
    width: var(--width-1-2);
    background: var(--text);
    height: 0.0625rem;
    line-height: 0;
    vertical-align: 0.25rem;
}

dt {
    font-weight: 700;
}

.q {
    margin-bottom: 0.25em;
    margin-top: 0.25em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: justify;
}

.verse {
    white-space: nowrap;
    margin-left: 2em
}

.redacted {
    color: #000;
    background-color: #000;
}