/* Colors as variables */
/* HTML5 Boilerplate */
$selection: hsla(213, 92%, 85%, 1);
/* Bootstrap */
$text: hsla(210, 2%, 11%, 1);
/* colors.css v0.2.0 */
$navy: hsla(216, 100%, 16%, 1);
$blue: hsla(225, 100%, 42%, 1);
$aqua: hsla(187, 100%, 49%, 1);
$teal: hsla(180, 100%, 40%, 1);
$olive: hsla(147, 100%, 34%, 1);
$green: hsla(114, 100%, 38%, 1);
$lime: hsla(68, 100%, 44%, 1);
$yellow: hsla(48, 100%, 50%, 1);
$orange: hsla(24, 100%, 50%, 1);
$red: hsla(355, 100%, 46%, 1);
$maroon: hsla(358, 100%, 14%, 1);
$fuchsia: hsla(319, 100%, 50%, 1);
$purple: hsla(262, 100%, 50%, 1);
$white: hsla(0, 0%, 100%, 1);
$silver: hsla(0, 0%, 47%, 1);
$gray: hsla(0, 0%, 20%, 1);
$gray-900: hsla(190, 16%, 93%, 1);
$gray-700: hsla(205, 8%, 71%, 1);
$gray-500: hsla(180, 6%, 45%, 1);
$gray-300: hsla(183, 8%, 55%, 1);
$gray-100: hsla(0, 0%, 13%, 1);
$black: hsla(0, 0%, 0%, 1);
$moon-gray: hsla(0, 0%, 80%, 1);
/* My colors */
$whitesmoke: hsla(0, 0%, 96%, 1);